<% @alboms.each do |albom| %>
<div class="albom_popup">
    <span class="albomname" albom_id="<%= albom.id %>"><%=  albom.name %></span>
    <%
    if(albom.compilation)
    %>
    <span class="compilation">compilation</span>
    <%
    else
    %>
    <span class="artist"><%
    i = 0;
    albom.artists.each do |artist|%><%= ((i==0)? '':', ')+(artist.name) %><%
    i += 1;
    end %></span>
    <%
    end
     %>
</div>
<% end %>